html {
  background-color: lightgrey;
  font-size: 10px;
}

#nav-bar {
  width: 100%;
  height: 10%;
  top:0;
  left:0;
  position: fixed;
  background-color: grey;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

#nav-links {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

#nav-links li {
  padding: 5px 10px;
}

#nav-links a {
  text-decoration: none;
  color: black;
}

#nav-links a:hover {
  color: pink;
}

@media (max-width: 815px) {
  #navbar ul {
    list-style: none;
    display: block;
  }
}

#dashboard {
  margin-top: 5%;
}

#landing-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto auto;
}

.page-title {
  margin-top: 10%;
  padding: 0px auto;
  font-size: 3em;
  text-align: center;
}

#user-controls, #welcome-text {
  width: 45vw;
  max-width: 45vw;
  margin-left: 20px;
  font-size: 1.75em;
}



#user-login, #create-new-user {
  max-width: 100%;
  width: 40vw;
  max-height: 30%;
  height: 200px;
  background-color: rgba(232, 232, 232, .8);
  padding: 5px 5px;
  margin: 10px auto;
  border-radius: 5px;
  text-align: center;
}

#user-login p, #create-new-user p {
  margin: 10px 0px;
  padding: 0px 0px;
  font-size: 1.5em;
}

#user-login input, #create-new-user input {
  max-width: 80%;
  width: 400px;
}


#welcome-map {
  margin-right: 20px;
  width: 45vw;
  max-width: 45vw;
  height: 400px;
  max-height: 50vh;
}

.reply-button {
  text-align: right;
}

#new-comment {
  grid-area: comment;
}

#footer {
  background-color: grey;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: right;
  margin-right: 20px;
  font-size: 1.5em;
}

.add-margin {
  margin-top: 10vh;
}

.hide {
  display: none;
}

@media (max-width: 1200px) {
  .page-title {
    margin-top: 15vh;
    font-size: 3em;
  }

  #landing-page {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  #user-controls, #welcome-text {
    width: 80vw;
    max-width: 80vw;
    margin: 5px auto;
    font-size: 2em;
  }

  #welcome-map {
    max-width: 80vw;
  }

}

@media screen and (max-width: 700px) {
  #nav-bar {
    height: auto;
  }

  #nav-links {
    display: block;
    height: auto;
    font-size: 1.25em;
    padding: 0 0;
    margin: 0 auto;
    text-align: center;
  }

  #nav-links li {
    padding: 0 0;
    margin: 0 0;
  }

  #nav-links li:hover {
    background-color: pink;
  }

  .page-title {
    margin-top: 20vh;
    font-size: 2em;
    display: block;
    font-weight: bold;
  }

  #user-controls, #welcome-text {
    width: 80vw;
    max-width: 80vw;
    font-size: 2em;
    padding: 0 0;
    margin: 5px 0;
  }

  #welcome-text {
    max-height: 20vh;
    overflow-y: scroll;
  }

  #user-login, #create-new-user{
    margin: 5px 0;
    width: 80vw;
  }

  #footer {
    height: auto;
    margin: 0;
  }

  #welcome-map {
    margin-top: 3vh;
    width: 80vw;
    max-height: 35vh;
  }



}
